---
layout: default
---

<nav aria-label="Breadcrumb">
    <ol>
        <li class="breadcrumb-item">
            <a href="{{'/' | relative_url }}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{'/units' | relative_url }}">Units</a>
        </li>
        <li class="breadcrumb-item breadcrumb-item-selected">
            <a aria-current="page">{{ page.title }}</a>
        </li>
    </ol>
</nav>
<h1 class="h1">{{page.name}} ({{page.unit}})</h1>
<h2 class="h5">{{page.measurement}}</h2>

<hr>
<p class="h2">1 {{page.name}} = {{page.ratio}} {{page.si}}(s)</p>

{{ content }}
<br>
<a href="{{'/' | relative_url }}">{% octicon home height:16 %} Back home</a>